@import "reset.css";
body {
  margin-top: 68px;
	background-image: url(dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
	text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, p, blockquote {
	width: 700px;
	margin: 0 auto;
	text-align: left;
}
img {
	margin-top: 80px;
	width: 1020px;
	margin: 0 auto;
}
h1, h2, h3, h4, p blockquote {
	font-family: "PT Sans caption", sans-serif;
}
h1 {
	font-size: 40px;
	font-weight:bold;
	margin-bottom: 3px;
	margin-top: 16px;
	line-height: 46px;
	margin-top: 14px;
}
p:first-of-type {
  color:gray;
  opacity: 0.9;
  font-size: 22px;
	line-height:32px;
	margin-bottom: 30px;
	margin-top: 14px;
}
p {
	font-size: 22px;
	line-height:34px;
	margin-bottom: 30px;
}
h1 + p {
	color: rgba(0,0,0,0.5);
}
a, a:visited {
	color: inherit;
}
h2 {
	font-size: 37px;
	font-weight:bold;
	margin-bottom: 22px;
}
h3 {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 27px;
	font-weight:bold;
	margin-bottom: 22px;
}
h3 + p {
	margin-top: 6px;
}
h4 {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
}
li {
	font-family: "PT Sans Caption", sans-serif;
	font-size: 22px;
	line-height:32px;
	margin-bottom: 30px;
}
